/********************** General settings ***************************/
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
/* for section content general style */
.content-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
}
.content-description {
  margin-top: 24px;
  margin-bottom: 16px;
}
/********************** Hero section ***************************/
.header {
  background-image: url("../images/banner/banner3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.hero-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  color: #ffffff;
}
.hero-content-wrap {
  text-align: right;
  width: 550px;
}
.hero-title {
  text-align: right;
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
}
.hero-description {
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
  margin-top: 24px;
}
.btn-primary {
  padding: 21px 26px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  border: 0;
  line-height: 23px;
  color: #005fac;
  cursor: pointer;
}
/********************** Summary section  ***************************/
.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: #f3f3f3;
  width: 80%;
  height: 150px;
  padding: 0 20px;
  border-radius: 30px;
}
.summary-wrap {
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(#005fac 0%, rgba(0, 95, 172, 0.3) 100%);
  border-radius: 10px;
}
.summary-content {
  text-align: center;
  margin-bottom: 70px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 40px;
}
.summary-content .content-title,
.summary-content .content-description {
  color: #ffffff;
}
.summary-item {
  display: flex;
  align-items: center;
}
.summary-item i {
  font-size: 50px;
  color: #39b09d;
  margin-right: 10px;
}
.summary-number {
  font-size: 2.5rem;
  color: #39b09d;
  font-weight: 700;
  line-height: 40px;
}
.summary-description {
  color: #a9a9a9;
  font-size: 1rem;
  margin-left: 8px;
}

/********************** My failures section ***************************/
.failure-content {
  display: flex;
  align-items: center;
  gap: 87px;
  padding: 130px 0;
}
.failure-right-content {
  padding-right: 70px;
}
.failure-right-content ul li {
  list-style-type: none;
}
.failure-right-content ul li i {
  color: #16d887;
  margin-right: 10px;
}
/********************** My Future plan section ***************************/
.planner-section .content-title {
  text-align: center;
}
.plans-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  text-align: center;
}
.plan img {
  margin-bottom: 1.3rem;
}
.plan-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #151414;
  margin-bottom: 1rem;
}
.plan-description {
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #737272;
}
/********************** call now section ***************************/
.call-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 300px;

  /* background solition one */
  /* background-image: url(../images/watch.png), url(../images/gradient1.png);
  background-position: center center, center;
  background-blend-mode: soft-light; */

  /* background solition two */
  background: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%),
    url(../images/watch.png);
  border-radius: 8px;

  margin: 130px 0;
}
.call-now-section .content-title {
  color: #ffffff;
  margin-left: 64px;
  margin-bottom: 24px;
}
.call-now-section .btn-primary {
  margin-left: 64px;
  padding: 21px 36px;
}
/********************** footer section ***************************/
footer {
  background: #151414;
  color: #ffffff;
  padding: 130px 0;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.social-info {
  max-width: 44%;
}
.social-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #f8f8f8;
}
.social-description {
  line-height: 26px;
  margin-top: 16px;
  margin-bottom: 24px;
}
.social-link a {
  text-decoration: none;
  margin-right: 17px;
}
.newslatter {
  width: 30%;
}
.newslatter-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  color: #f8f8f8;
  margin-bottom: 31px;
}
.newslatter .email {
  padding: 21px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
.newslatter input::placeholder {
  font-size: 18px;
  line-height: 21px;
  color: #f3f3f3;
}
.newslatter .btn-primary {
  padding: 21px 36px;
  background: #005fac;
  color: #ffffff;
}

/* responsive styles */
@media only screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
  .header {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
      url(../images/banner/banner3.png) no-repeat center;
    background-size: cover;
    object-fit: cover;
    object-position: center;
  }
  .hero-content {
    padding-right: 15px;
  }
  .hero-content-wrap {
    width: unset;
  }
  .hero-title {
    font-size: 35px;
    line-height: 40px;
  }
  .btn-primary {
    padding: 15px 20px;
  }
  /* summary */
  .summary-wrap {
    margin: 0;
    padding-top: 50px;
    border-radius: 0;
  }
  .summary {
    flex-direction: column;
    height: 100%;
    padding: 15px;
    gap: 30px;
  }
  .summary-content {
    width: 100%;
  }
  .content-description {
    padding: 0 20px;
  }
  /* failure */
  .failure-content {
    flex-direction: column;
    padding: 0;
  }
  .failure-content img {
    width: 100%;
  }
  .failure-right-content {
    padding: 0;
  }
  .failure-right-content ul {
    text-align: left;
    padding: 0 20px;
    font-size: 13px;
  }
  .content-title {
    padding-left: 10px;
  }
  /* plane-section */
  section.planner-section {
    margin-top: 50px;
}
  .plans-wrap {
    flex-direction: column;
    gap: 60px;
  }
  .call-content {
    margin: 30px 0;
    background: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0.5) 100%);
    border-radius: 0;
  }
  .call-now-section .content-title  {
    margin-left: 0;
  }
  .call-now-section .btn-primary {
    margin-left: 15px;
    padding: 15px 20px;
  }
  /* footer */
  footer {
    padding: 0;
  }
  .footer-content {
    flex-direction: column;
    padding: 20px;
    gap: 70px;
  }
  .social-info {
    max-width: unset;
  }
  .newslatter {
    width: unset;
  }
}
